{% extends 'layouts/blank.html' %}

{% block class %}blog bg-black text-white{% endblock %}

{% block content %}

<div class="max-w-[1600px] mx-auto px-8 py-24">

    <h1>Page Title</h1>
    <p>This is the body</p>

    <div class="grid mt-8 gap-12 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">

        <article class="relative rounded-2xl border border-gray-500 hover:border-gray-400 bg-neutral-900 ">
            <a href="" class="flex flex-col justify-between h-full p-4">
                <div>
                    <h2>Wagtail</h2>
                    <p>The awesome open-source Python CMS</p>
                </div>
                <div>
                    <p class="text-sm text-neutral-500">Jan. 1, 2025</p>
                    <figure class="mb-4">
                        <img class="w-full rounded-lg"
                            src="https://res.cloudinary.com/dpuzdancn/image/upload/f_auto,q_auto/v1/static/rqjdfehtdc0xoj5jpmmv">
                    </figure>
                    <span class="hover:underline">Read more</span>
                </div>
            </a>
        </article>

        <article class="relative rounded-2xl border border-gray-500 hover:border-gray-400 bg-neutral-900 ">
            <a href="" class="flex flex-col justify-between h-full p-4">
                <div>
                    <h2>Wagtail</h2>
                    <p>The awesome open-source Python CMS</p>
                </div>
                <div>
                    <div class="flex justify-between items-center">
                        <p class="text-sm text-neutral-500">Jan. 1, 2025</p>
                        <p class="flex items-center text-gray-800 text-sm gap-1">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z" />
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                            </svg>
                            <span>{{ article.spcific.views }}</span>
                        </p>
                    </div>
                    <figure class="mb-4">
                        <img class="w-full rounded-lg"
                            src="https://res.cloudinary.com/dpuzdancn/image/upload/f_auto,q_auto/v1/static/rqjdfehtdc0xoj5jpmmv">
                    </figure>
                    <span class="hover:underline">Read more</span>
                </div>
            </a>
        </article>

        <article class="relative rounded-2xl border border-gray-500 hover:border-gray-400 bg-neutral-900 ">
            <a href="" class="flex flex-col justify-between h-full p-4">
                <div>
                    <h2>Wagtail</h2>
                    <p>The awesome open-source Python CMS</p>
                </div>
                <div>
                    <p class="text-sm text-neutral-500">Jan. 1, 2025</p>
                    <figure class="mb-4">
                        <img class="w-full rounded-lg"
                            src="https://res.cloudinary.com/dpuzdancn/image/upload/f_auto,q_auto/v1/static/rqjdfehtdc0xoj5jpmmv">
                    </figure>
                    <span class="hover:underline">Read more</span>
                </div>
            </a>
        </article>

        <article class="relative rounded-2xl border border-gray-500 hover:border-gray-400 bg-neutral-900 ">
            <a href="" class="flex flex-col justify-between h-full p-4">
                <div>
                    <h2>Wagtail</h2>
                    <p>The awesome open-source Python CMS</p>
                </div>
                <div>
                    <p class="text-sm text-neutral-500">Jan. 1, 2025</p>
                    <figure class="mb-4">
                        <img class="w-full rounded-lg"
                            src="https://res.cloudinary.com/dpuzdancn/image/upload/f_auto,q_auto/v1/static/rqjdfehtdc0xoj5jpmmv">
                    </figure>
                    <span class="hover:underline">Read more</span>
                </div>
            </a>
        </article>

    </div>

</div>

{% endblock %}